$color_1: rgb(141, 181, 145);
$color_2: rgb(255, 255, 255);
$color_3: rgb(255, 175, 163);
$color_4: rgb(108, 115, 148);
$color_5: rgb(234, 234, 234);
$color_6: rgb(255, 50, 50);
$color_7: rgb(35,38, 47);
$color_8: rgb(114, 114, 144);

$background-color_1: rgb(233, 241, 249);
$background-color_2: rgb(255, 255, 255);
$background-color_3: transparent;
$background-color_4: rgb(182, 223, 186);
$background-color_5: rgb(141, 181, 145);
$background-color_6: rgb(255, 201, 193);
$background-color_7: rgb(255, 175, 163);
$background-color_8: rgb(131, 138, 172);
$background-color_9: rgb(108, 115, 148);
$background-color_10: rgb(175, 94, 94);
$background-color_11: rgb(175, 81, 81);
$background-color_12: rgba(0,0,0, 0.5);
$background-color_13: rgb(216, 216, 216);

$font-family_1: 'Trebuchet MS', Arial, sans-serif;
$font_big: 26px;

$shadow-complex: rgba(0,0,0,0.05) 0 6px 24px 0, rgba(0,0,0,0.08) 0 0 0 1px;
$shadow-complex_2: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
$shadow-simple: rgba(0, 0, 0, 0.08) 0 0 0 1px;